<head>	
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>



<h2>  Login Page </h2>
<a style="margin-left:50%" href="/">Home</a>
<a style="margin-left:20px" href="/register">Register</a>

<form style="margin-left: 40%;"action="/login" method="POST">
    <label for="username">Username</label>
    <br/>
    <input type="text" placeholder="username" id="xyz" name="username">
    <br/>
    <label for="password">Password</label>
    <br/>
    <input type="password" id="password" name="password">
    <br/>
    <button style="margin-top:10px; width:400px; border-radius:20px">Login</button>
</form>

