<head>	
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>



<h2>    SignUp Page</h2>
<a style="margin-left:50%" href="/">Home</a>
<a style="margin-left:20px" href="/login">Login</a>

<form action="/register" method="POST">
    <label for="username">Username:</label>
    <br/>
    <input type="text" id="username" name="username">
    <br/>
    <label for="password">Password:</label>
    <br/>
    <input type="password" id="password" name="password">
    <br/>
    <label for="phone">Mobile Phone:</label>
    <br/>
    <input type="text" name="phone" id="phone">
    <br/>
    <button style="margin-top:10px; width:400px; border-radius:20px">Submit</button>
</form>

