<head>	
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>


<h2> User Profile </h2>
<a style="margin-left:50%" href="/">Home</a>
<a style="margin-left:20px" href="/logout">Logout</a>
