body {
  font-size: 32px;
}

h2 {
  color: mediumblue;
  margin-left: 20px;
  display:inline;
}

button {
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

button:disabled {
  cursor: default;
  opacity: .3;
}

button:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

button:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

button:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

form {
 margin-left:20px;
 margin-top:20px;
}

ul {
 margin-left:20px;
}

input {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
}

input:focus {
  background-color: lightblue;
}

textarea {
  font-size: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  border-radius: 10px;
}

th {
 border: 1px solid;
}
td {
 border: 1px solid;
}
table{
  border: 1px solid;
  width: 50%;
  margin-left:20%;
  border-collapse: collapse;
  font-size: 32px;
}

.buttonAction {
  width:100px;
  margin-top:5px;
  margin-bottom:5px;
}

